body {
    font: 0.8em Arial, Helvetica, sans-serif;
    background: #f8f8f8;
}

h1, h2 {
    text-align: center;
}

section {
    border: 1px solid gray;
    margin-bottom: 12px;
    padding: 8px;
    box-shadow: 5px 5px 5px silver;  
}

.has-errors {
    background: pink;
}

.simpsons fieldset, .multiplier {
    display: inline-block;
    vertical-align: top;
}

.multiplier > div {
    padding: 12px;
    margin-right: 12px;
}

.treenodeChildren {
    padding-left: 16px;
}