body {
    font: 0.8em Arial, Helvetica, sans-serif;
    background: #f8f8f8;
}

h1, h2 {
    text-align: center;
}

section {
    border: 1px solid gray;
    margin-bottom: 12px;
    padding: 8px;
    box-shadow: 5px 5px 5px silver;  
}

.has-errors {
    background: pink;
}

.simpsons fieldset {
    display: inline-block;
    vertical-align: top;
}